#content {
    padding: 0 15px;
}

.item {
    font-weight: bold;
    padding: 5px 0;
    font-size: 20px;
}

.column {
    width: 49%;
    display: inline-block;
}

#header h1 {
    display: inline-block;
    margin: 0;
    line-height: 64px;
    vertical-align: bottom;
}

#loading {
    display: none;
}

#loading img {
    height: 60px;
}

#loading-text {
    vertical-align: bottom;
    line-height: 60px;
    font-size: 18px;
}
